{% extends 'base.html' %}

{% block title %}
Review Us
{% endblock title %}


{% block css %}
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-image: url("static/images/w23.jpg"); 
            background-size: 100% 100%; 
            background-position: center;
            background-attachment: fixed;
        }
        
      
        h2 {
            color: white;
        }
        label {
            color: white;
        }
        
        
        button[type="submit"] {
            background-color: red;
            color: white;
        }
       
        textarea {
            background-color: #ccc;
            color: black;
            border: none;
            border-radius: 5px;
            padding: 5px;
            width: 20%;
        }
        
     
        .flash-messages {
            margin-top: 20px;
            padding: 10px;
            background-color: rgba(255, 0, 0, 0.7);
            color: white;
            text-align: center;
        }
    
       
    </style>
    {% endblock css %}
    {% block body %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <div class="rate-us-box">
        <div class="rate-us-container">
            <h2>Leave a Comment</h2>
            <form action="{{ url_for('submit_comment') }}" method="POST">
                <div class="form-group">
                    <label for="comment">Your Comment:</label>
                    <textarea name="comment" rows="4" required></textarea>
                </div>
                <button type="submit">Submit Comment</button>
            </form>
            
            <!-- Display flash messages if present -->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="flash-messages">
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
        </div>
    </div>
</div>

{% endblock body %}
