{% extends 'base.html' %}

{% block title %}
Wishlist
{% endblock title %}

{% block body %}
<div class="container mt-5">
  <h2>Your Wishlist</h2>
  {% if wishlist %}
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Package Name</th>
          <th>Package Price</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for item in wishlist %}
          <tr>
            <td>{{ item.name }}</td>
            <td>BDT {{ item.price }}</td>
            <td>
              <a href="/remove_from_wishlist/{{ loop.index0 }}" class="btn btn-danger">Remove</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>Your wishlist is empty.</p>
  {% endif %}
</div>
{% endblock body %}
